#
#version: "3.9"
#
#services:
#  db:
#    image: postgres:15
#    container_name: postgres_db
#    environment:
#      POSTGRES_DB: ecomdb
#      POSTGRES_USER: ecomuser
#      POSTGRES_PASSWORD: password
#    ports:
#      - "5432:5432"
#    volumes:
#      - pgdata:/var/lib/postgresql/data
#
#  web:
#    build: .
#    container_name: django_app
#    ports:
#      - "8000:8000"
#    env_file:
#      - .env
#    depends_on:
#      - db
#
#volumes:
#  pgdata:
#

version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ecom
      POSTGRES_USER: ecom
      POSTGRES_PASSWORD: ecompass
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    command: bash -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn ecomm.wsgi:application --bind 0.0.0.0:8000 --workers 2"
    #environment:
    #  DATABASE_URL: postgres://ecom:ecompass@db:5432/ecom
    #  REDIS_URL: redis://redis:6379/0
    #  DJANGO_SECRET_KEY: changeme_now
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

volumes:
  pgdata:
