kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

nodes:
  - role: control-plane
  - role: worker

# Expose ingress ports (optional for later)
networking:
  apiServerAddress: "127.0.0.1"
  apiServerPort: 6443
